@font-face {
    font-family: 'SF UI Display';
    src: url('../webfonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('../webfonts/SFUIDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../webfonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../webfonts/SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../webfonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../webfonts/SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../webfonts/SFUIDisplay-Regular.woff2') format('woff2'),
        url('../webfonts/SFUIDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'SF UI Display';
    src: url('../webfonts/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../webfonts/SFUIDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

